@import "./utils/variables";
@import "./utils/mixins";

@import "./bases/bases";
@import "./bases/fonts";

@import "./utils/mixins";
@import "./utils//variables";

@import "./components/header";
@import "./components/createTable";
@import "./components/modal";

@import "./pages/app";
@import "./pages/home";
@import "./pages/createEmpl";
@import "./pages/listEmpl";
@import "./pages/notFound";
