.container-createEmpl{
width: 100%;
}
.content-createEmpl{
   
}
.createEmpl-title{

}
.createEmpl-table__container{

}
.createEmpl-table__content{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}