.header-container {
    width: 100%;
    height: 60px;
    background-color: $background-blue;

    @include tablette {
        width: 120px;
        height: 100vh;
        border-radius: 20px 0 20px 20px;
        border: none;

    }
}

.header-content__ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    align-items: center;

    @include tablette {
        flex-direction: column;
        height: 300px;

    }
}

.header-content__nav-link_icons {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 6px;
    margin: 10px;

    @include tablette {
        width: 60px;
        height: 60px;
    }
}